@using Worldsys.LDI.Web.Areas.AppName.Models.Layout
@using Worldsys.LDI.Web.Areas.AppName.Views.Shared.Components.AppNameLogo
@model HeaderViewModel
@{
    Layout = null;
}
<a href="@Url.Action("Index", "Home", new {area = string.Empty})" class="light brand-logo">
    @await Component.InvokeAsync(typeof(AppNameLogoViewComponent), new {LogoSkin = "dark-sm", logoClass = "max-h-30px"})
</a>
